.register-content {
    height: 440px;
    width: 600px;
    margin: 0px 300px 50px 300px;
    padding-top: 20px;
    background-color: rgb(13, 11, 16);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(143, 137, 137);
}

.register-content h2 {
    color: white;
    background-color: rgb(13, 11, 16);
    padding: 5px 10px 15px 160px;
}

.register-content img {
    height: 360px;
    width: 280px;
}

.register-content form {
    height: 380px;
}

.register-content p {
    color: white;
    margin-left: 20px;
}

.register-content input {
    width: 250px;
    height: 30px;
    margin: 5px 20px;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
}

.register-content button {
    width: 150px;
    height: 35px;
    margin: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.register-content img:hover {
    height: 380px;
    margin: 4px 16px 12px 10px;
}
